[Unit]
Description=YugabyteDB Service
After=network.target

[Service]
Type=forking
User=yugabyte-user
WorkingDirectory={{ yugabyte_home }}


Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=LD_LIBRARY_PATH={{ yugabyte_home }}/lib
# Start the YugabyteDB server
ExecStart={{ yugabyte_bin }}/yugabyted start --base_dir=/home/yugabyte-user/var
ExecStop={{ yugabyte_bin }}/yugabyted stop
ExecReload={{ yugabyte_bin }}/yugabyted restart
ExecStartPost=/bin/bash -c "echo '✅ YugabyteDB started via systemd.'"
Restart=on-failure
RestartSec=5

# System resource limits
LimitNOFILE=1048576
LimitNPROC=12000
LimitSTACK=8192
LimitMEMLOCK=64
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitRSS=infinity
#LimitVMEM=infinity
LimitMSGQUEUE=819200
LimitLOCKS=infinity
LimitCORE=infinity
LimitSIGPENDING=119934

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

